<html>
<head>
<meta charset="utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes" />
<link rel="stylesheet" type="text/css" href="css/index.css">
<script src="js/index.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
</head>
<body ng-app="">
	<div id="container">
		<div class="box" ng-repeat="n in [1,2,3,4,5,6,7,8,9]"
			onclick="klick($(this));">
			<div class="content">{{n}}</div>
		</div>
	</div>
</body>
</html>

