*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #f7f7f7;
    font-family: Helvetica, "Open Sans", Arial;
    color: #000000;
    font-size: 1.5em;
}

#suggestions::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 12px;
    background-color: #f7f7f7;
    border: solid 1px #3879D8;
}

#suggestions::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#suggestions::-webkit-scrollbar-thumb
{
    border-radius: 12px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: #3879D8;
}

.vmiddel{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#searcharea{
    background-color: white;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 3;
    height: 6em;
    padding: 1.5em 0.5em;
}

#searchbox{
    position: relative;
    height: 3em;
    width: 100%;
    border: solid 0.1em #3879D8;
    border-radius: 1.5em;
    padding: 0 0 0 0.5em;
    -webkit-box-shadow: inset 0 0.1em #e5e7ed, 0 0.1em 0 #fcfcfc;
    -moz-box-shadow: inset 0 0.1em #e5e7ed, 0 0.1em 0 #fcfcfc;
    -ms-box-shadow: inset 0 0.1em #e5e7ed, 0 0.1em 0 #fcfcfc;
    -o-box-shadow: inset 0 0.1em #e5e7ed, 0 0.1em 0 #fcfcfc;
    box-shadow: inset 0 0.1em #e5e7ed, 0 0.1em 0 #fcfcfc;
}
.appConsole{
    display: none;
    position: fixed;
    bottom:1em;
    word-wrap: break-word;
    text-family: monospace;
    background-color: #3879D8;
    text-transform:none;
    padding: 0.5em;
    width: 100%;
    color: white;
    z-index: 4;
    overflow: scroll;
    height: 10em;
}

#searchbox>i{
    text-align: center;
    color: #3879D8;
    padding: 0;
    margin: 0 0.5em 0 0;
}
#searchbox i:not(:last-child){
    float: left;
}
.righticon{
    float: right !important;
}

.resizeable{
    overflow: hidden;
    margin: 0 0.6em 0 0;
}

.searchinput{
    outline: none;
    border: none;
    font-size: 1.5em;
    width: 100%;
}

#result{
    position: absolute;
    top: 6em;
    left: 0;
    right: 0;
    padding: 0 0.5em;
}
#result .list-group-item{
    margin: 0 0 1em 0;
    width: 100%;
    border-radius: 1em;
    box-shadow: 0 0.25em 0.5em 0 #3879D8;
    -moz-box-shadow: 0 0.25em 0.5em 0 #3879D8;
    -webkit-box-shadow: 0 0.25em 0.5em 0 #3879D8;
    -o-box-shadow: 0 0.25em 0.5em 0 #3879D8;
}
/*div, span, ul, li{*/
/*border: solid 1px blue;*/
/*}*/

#result .word{
    position: relative;
    text-transform: capitalize;
    font-size: 1.75em;
    font-weight: 600;
}

#result section{
    margin: 1em auto;
}
/*
#result .section_head{
    font-weight: bold;
    color: white;
    background-color: #3879D8;
    border-radius: 1em;
    padding: 0 0.5em;
}
*/

#suggestions .word, .tag, #searchbox>i, #result .sound, #result .clazz, #result .explain, #result .examples, #result .composite, #result .uttrykk{
    font-size: 1.5em !important;
}

#result .explain, #result .examples, #result .composite{
    padding: 0 1.5em;
}
#result .sound{
    padding-right: 0.5em;
}

#result .examples{
    font-style: italic;
}

#result .format{
    font-style: italic;
}

#result .myexplain{
    width: 100%;
    height: 2em;
}

#result .empty{
    width : 0.1em;
    height: 2em;
}

#result .myexplain{
    border-color: #3879D8;
}
#result .save, #result .cancel{
    width: 5em;
    margin: 0.5em;
    border: solid 0.1em #3879D8;
    text-align: center;
}
#result .save{
    float: left;
    margin-left: 1em !important;
}
#result .cancel{
    float: right;
    margin-right: 1em !important;
}

#suggestions{
    position: absolute;
    max-height: 85vh;
    top: 5em;
    left: 0;
    right: 0;
    z-index: 5;
    margin: 0 0.5em;
    border: solid 0.1em #3879D8;
    border-radius: 1em;
    color: #3879D8;
    background-color: white;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

#suggestions >div:hover{
    color: white;
    background-color: #3879D8;
    border-radius: 1em;
}

#suggestions >div, .tag{
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0;
    color: #3879D8;
    clear: both;
}
.emptyclear{
    clear: both;
}
.tool{
    float: right;
    color: #3879D8;
    font-size: 1.5em;
    margin: 0 0.2em;
}
#suggestions .word{
    font-weight: bold;
}

#suggestions >div{
    height: 2em;
    overflow: hidden;
    margin: 0 auto;
}

#searchbutton{
    position: absolute;
    font-size: 1.5em;
    z-index: 5;
    color: #3879D8;
    display: none;
}
/*#suggestions >div:first-child:before, #suggestions >div:first-child:after {*/
    /*display: block;*/
    /*content: '';*/
    /*width: 0;*/
    /*height: 0;*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*-webkit-transform: translateX(-50%);*/
    /*-o-transform: translateX(-50%);*/
    /*-moz-transform: translateX(-50%);*/
    /*-ms-transform: translateX(-50%);*/
    /*transform: translateX(-50%);*/
    /*border: 0.5em outset transparent;*/
/*}*/

/*#suggestions >div:first-child:before {*/
    /*border-bottom: 0.5em solid white;*/
    /*top: -2em;*/
/*}*/

/*#suggestions >div:first-child:after {*/
    /*border-bottom: 0.5em solid #3879D8;*/
    /*top: -1.5em;*/
/*}*/
