.box {
    position: relative;
    display: inline-block;
    width: 28%;    
    background: #23a1ff;
    color: white;
    margin: 2.5%;
    border-radius: 100%;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 255);
    -moz-box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 255);
    -webkit-box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 255);
}
#container {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
@media all and (orientation: portrait) {
    #container {
        max-width: 80%;
    }
    .content {
    font-size: 12vw;
    }
}
@media all and (orientation: landscape) {
    #container {
        max-width: 50%;
    }
    .content {
    font-size: 8vw;
    }
}
.box:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
@keyframes respin {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to   { transform: translate(-50%, -50%) rotate(360deg); }
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clickstyle {
    /*border:5pt solid  black;*/    
    background: #ffffff;
    color: #23a1ff;
    border: dashed 5px #23a1ff;
    -moz-animation: spin 10s infinite linear;
    -webkit-animation: spin 10s infinite linear;
    animation: spin 10s infinite linear;
}
.reversestyle {
    -moz-animation: respin 10s reverse infinite linear;
    -webkit-animation: respin 10s reverse infinite linear;
}
body {
    background-color: #23a1ff;
    position: relative;
}